/*
   Mobile Styles
   Filename: mobilestyles.css


*/

/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/

@media screen and (max-width: 700px){
   #mainabout{
      display: flex;
      flex-direction: column;
}
  .selectionnav li a{
   display: none;
}
.dropdown{
   display: block;
}
.dropdown .selectionnav li a{
   display: block;
}
a#mobilenav img{
   display: block;
}
#navicon{
   display: block;
}

article.maincontent.single p{
   font-size: 0.90em;
   padding-top: 20px;
}

.content-search{
   flex-direction: column;
}

.content-search aside.sidebar.single{
   margin-left: 25%;
}

div.post p.preview-text{
   font-size: 0.75em;
}

div.genre div.post{
   flex-direction: column;
}

aside.sidebar{
   margin-left: 25%;
   width: fit-content;
}

article.maincontent{
   width: 80%;

}
.postimg{
   width: 100%;
   height: 50%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}
.post-preview p.preview-text{
   padding-top: 10%;
}
.btn{
   padding: .25rem 0.5rem;
}

p.read{
   padding-bottom: 10px;
}

.post-preview p, .post-preview a.read{
   font-family: Frank Ruhl Libre, Lora, Arial, sans-serif;
   font-size: 0.8em;
}
.post-preview h1{
   font-size: 2em;
}
#nameBox, #emailBox, #phoneBox{
   width: 50%;
   height: 15px;
}
div.contactinfo{
   display: flex;
   align-items: center;
}

div.contactinfo div{
   margin: 10px;
}
img.icons{
   height: 20vh;
}
.contactinfo div p{
   font-size: 0.80em;
}
.singlefootersurivive{
   margin-top: 100%;
}

}

@media screen and (max-width: 500px){
   img.icons{
      height: 50px;
   }
}

@media screen and (min-width: 1800px){
   .singlefootersurivive{
      position: absolute;
      bottom: 0;
  }
}
